/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 248, 249, 254;
}

[data-theme='dark'] {
  --background-start-rgb: 26, 22, 37;
  color: white;
}

body {
  background-color: rgb(var(--background-start-rgb));
}

.glass-card {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 16px;
} */